﻿/* Required to have full-screen RadSplitter */
html, body, form {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI"; /*, Arial, sans-serif;*/
    font-size: 12px;
}

input, select, textarea {
    font-family: "Segoe UI"; /*, Arial, sans-serif;*/
    font-size: 12px;
}

form {
    cursor: default;
}

.dnnFormInfo {
    background: #fff url(/images/help-icn.svg) no-repeat 10px center;
    border: #B51F09 2px solid;
    color: #343434;
    text-shadow: 0px 1px 1px #fff;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 10px 10px 40px;
    line-height: 1.4;
    margin: 0.5em 1em;
}

.dnnForm .dnnFormItem.dnnFormHelp, .dnnFormItem.dnnFormHelp {
    clear: both;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

    .dnnFormItem.dnnFormHelp p.dnnFormRequired {
        float: right;
        margin: 0;
        padding: 0;
    }

        .dnnFormItem.dnnFormHelp p.dnnFormRequired span {
            border-left: 5px #B51F09 solid;
            padding-left: 0.5em;
        }
