﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site_VM_Rev1.Master.cs" Inherits="edms.Site_VM_Rev1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
    <style>
        html, body, form {
            height: 100vh;
            /*font-family: Roboto, sans-serif;*/
        }

        .full-background {
            background-image: linear-gradient(#E6E0AE,#FAF9EF);
            background-repeat: no-repeat;
        }

        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            height: 100vh;
        }

        .bg-header {
            height: 10vh;
            min-height: 60px;
            background: url(../../Images/header.svg);
            background-repeat: repeat-x;
            background-size: auto;
            background-color:#4E0B0B;
        }

        .bg-content {
            background-image: url(../../Images/bg-site-v1.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .logo {
            width: 8vh;
            height: 8vh;
            min-width: 47px;
            min-height: 47px;
        }

        .col-avatar {
            height: 60px;
        }

        .lb-user {
            display: block;
            text-align: right;
            color: #ffffff;
            font-size: 12px;
        }

        .div-menu {
            padding-left: 0;
            padding-right: 0;
            background-color: #fff;
        }

        .RadMenu_Bootstrap .rmRootGroup {
            background-color: #fff !important;
            height: 100%;
        }

        .RadMenu .rmLeftImage {
            height: 20px;
            width: 20px;
        }

        .h-8 {
            height: 8vh;
            min-height: 60px;
        }

        .h-82 {
            height: 80vh;
        }

        .h-90 {
            height: 90vh;
        }
        .avatar {
            background-image: url(/Images/avatar.svg);
            width: 44px;
            height: 44px;
            border-radius: 22px !important;
        }

        .RadToolBar_Bootstrap .rtbOuter {
            background-color: unset !important;
        }

        .RadToolBar_Bootstrap .rtbWrap {
            padding: 6px 10px !important;
        }

        .RadToolBar_Bootstrap .rtbItemHovered .rtbWrap {
            background-color: #fff !important;
            border-color: #4E0B0B !important;
        }

        .RadToolBar .rtbIcon {
            width: 27px;
            height: 27px;
        }

        .RadToolBarDropDown_Bootstrap .rtbIcon {
            width: 16px;
            top: 4px !important;
        }

        .RadGrid_Silk .rgFilterBox:hover {
            border-color: #4E0B0B !important;
        }

        .RadGrid_Silk .rgPagerCell .rgNumPart a {
            color: #343434 !important;
        }

        .RadGrid_Silk .rgNumPart a.rgCurrentPage {
            border-color: #4E0B0B !important;
        }

        .RadGrid_Silk .rgNumPart a:hover {
            background-color: #4E0B0B !important;
            color: #fff !important;
            background-image: unset !important;
            border-color: #4E0B0B !important;
        }

        .RadGrid_Silk .rgActionButton:hover {
            background-color: #4E0B0B !important;
            background-image: unset !important;
            border-color: #4E0B0B !important;
        }

        .RadComboBox_Silk .rcbReadOnly:hover {
            background-color: #4E0B0B !important;
            background-image: unset !important;
            border-color: #4E0B0B !important;
        }

        .RadComboBox_Silk .rcbReadOnly .rcvHovered {
            background-color: #4E0B0B !important;
            background-image: unset !important;
            border-color: #4E0B0B !important;
        }

        .RadComboBox_Silk .rcbReadOnly.rcbFocused, .RadComboBox_Silk .rcbReadOnly.rcbExpanded {
            background-color: #4E0B0B !important;
            background-image: unset !important;
            border-color: #4E0B0B !important;
        }

        .RadComboBoxDropDown_Silk .rcbHovered {
            background-color: #4E0B0B !important;
            color: #fff !important;
            border-color: #4E0B0B !important;
        }

        .RadMenu .rmText {
            width:130px!important;
        }
    </style>
    <asp:ContentPlaceHolder ID="contentHead" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="full-background">
    <form id="form1" runat="server">
        <telerik:RadScriptManager ID="RadScriptManager1" runat="server"></telerik:RadScriptManager>
        <telerik:RadStyleSheetManager ID="RadStyleSheetManager1" runat="server"></telerik:RadStyleSheetManager>
        <%-- manager window popup --%>
        <telerik:RadWindowManager ID="RadWindowManager1" runat="server" EnableShadow="true">
            <Windows>
                <telerik:RadWindow ID="ChangePassword" runat="server" Title="THÔNG TIN" VisibleStatusbar="false" Height="350" Width="650" Left="150px" ShowContentDuringLoad="false" Modal="true">
                </telerik:RadWindow>
            </Windows>
        </telerik:RadWindowManager>
        <div class="container-fluid">
            <div class="row bg-header align-items-center">
                <div class="col-lg-1">
                    <img src="../../Images/logo.svg" class="logo" />
                </div>
                <div class="col-lg-9"></div>
                <div class="col-lg-2 col-avatar">
                    <div class="row">
                        <div class="col-8">
                            <asp:Label ID="lblUser" runat="server" Text="Xin chào," CssClass="lb-user"></asp:Label>
                            <asp:Label ID="lblTime" runat="server" Text="-" CssClass="lb-user"></asp:Label>
                        </div>
                        <div class="col-4">
                            <%--<img src="/Images/avatar.svg" />--%>
                            <%--<asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="/Images/avatar.svg" OnClick="ImageButton1_Click" />--%>
                            <telerik:RadToolBar ID="toolbarAvatar" runat="server" Skin="Bootstrap" Width="100%" Height="40px" OnButtonClick="toolbarAvatar_ButtonClick" OnClientButtonClicking="AvatarOnClientButtonClicking" OnClientDropDownOpened="dropdownOpened">
                                <Items>
                                    <telerik:RadToolBarDropDown CssClass="avatar" DropDownWidth="160px">
                                        <Buttons>
                                            <telerik:RadToolBarButton Text="Đổi mật khẩu" Value="ChangePass"></telerik:RadToolBarButton>
                                            <telerik:RadToolBarButton Text="Đăng xuất" CommandName="Logout" Value="Logout"></telerik:RadToolBarButton>
                                        </Buttons>
                                    </telerik:RadToolBarDropDown>
                                </Items>
                            </telerik:RadToolBar>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row h-90">
                <div class="col-lg-2 div-menu">
                    <div>
                        <asp:ContentPlaceHolder ID="contentMenu" runat="server"></asp:ContentPlaceHolder>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="row h-8">
                        <div class="col">
                            <asp:ContentPlaceHolder ID="contentTool" runat="server"></asp:ContentPlaceHolder>
                        </div>
                    </div>
                    <div class="row h-82">
                        <div class="col">
                            <asp:ContentPlaceHolder ID="contentBody" runat="server"></asp:ContentPlaceHolder>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <telerik:RadScriptBlock ID="RadScriptBlock1" runat="server">
        <script src="../../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="../../Scripts/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            function AvatarOnClientButtonClicking(sender, args) {
                var button = args.get_item();
                var strText = button.get_text();
                var strValue = button.get_value();
                if (strValue == "ChangePass") {
                    var owd = $find("<%=ChangePassword.ClientID %>");
                    owd.Show();
                    owd.setUrl("/Controls/System/ChangePasswordEditPage.aspx", "ChangePassword");
                    args.set_cancel(true);
                }
            }
            //expand dropdown left
            function dropdownOpened(sender, args) {
                var dropDownElem = args.get_item().get_element();
                var rightPos = $telerik.getLocation(dropDownElem).x + $telerik.getSize(dropDownElem).width;
                var dropDownElemContainer = args.get_item()._animationContainer;
                var leftPos = rightPos - dropDownElemContainer.clientWidth;
                dropDownElemContainer.style.left = leftPos + "px";
            }
        </script>
    </telerik:RadScriptBlock>
</body>
</html>
